<div class="content">
    <form class="form-cotizacion form card">
        <h2 class="titulo-form text-align-center">Cotiza tu seguro</h2>
        <div class="input form-group">
            <label for="marca" class="form-label">Marca</label>
            <div class="input-group">
                <select class="form-control form-select" id="marca">
                    <option value="" selected disabled>Selecciona una marca</option>
                    <option value="1">Item 1</option>
                    <option value="2">Item 2</option>
                </select>
                <i class="label-icon fas fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>
        <div class="input form-group">
            <label for="submarca" class="form-label">Submarca</label>
            <div class="input-group">
                <select class="form-control form-select" id="submarca">
                    <option value="" selected disabled>Selecciona una submarca</option>
                    <option value="1">Item 1</option>
                    <option value="2">Item 2</option>
                </select>
                <i class="label-icon fas fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>
        <div class="input form-group">
            <label for="modelo" class="form-label">Modelo</label>
            <div class="input-group">
                <select class="form-control form-select" id="modelo">
                    <option value="" selected disabled>Selecciona un Modelo</option>
                    <option value="1">Item 1</option>
                    <option value="2">Item 2</option>
                </select>
                <i class="label-icon fas fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>
        <div class="input form-group">
            <label for="version" class="form-label">Versión</label>
            <div class="input-group">
                <select class="form-control form-select" id="version">
                    <option value="" selected disabled>Selecciona una versión</option>
                    <option value="1">Item 1</option>
                    <option value="2">Item 2</option>
                </select>
                <i class="label-icon fas fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="input" class="form-label">Código Postal</label>
            <div class="input-group">
                <input type="text" id="input" class="form-control" placeholder="Ingresa tu Código Postal">
            </div>
        </div>
        <div class="form-group">
            <button class="btn-cotizar">Cotizar</button>
        </div>
    </form>
</div>